<div class="home_div20">
  <div class="home_div10">
    <header class="home_header">
          <nav class="home_nav">
            <ul class="home_ul">
              <li class="home_li2">
                  <%= image_tag 'logo77.png' , class: "head_logo_img" %>
              </li>
              <li><%= link_to "le pontニュース",news_index_path ,class:"home_li"%></li>
              <li><%= link_to "ブログ",blogs_path ,class:"home_li"%></li>
              <%=button_to 'ログアウト' ,destroy_shop_session_path, method: :delete , data: { turbo: false },class: "button"%>
              <li class="my_name_li">
                <%= link_to shop_homes_path ,class:"home_li80" do %>
                  <%=current_shop.name%>様
                <%end%>
              </li>
            </ul>
          </nav>
    </header>
    <div class="now_user_div">
      <div class="now_user_div2">
        <p class="now_user_count">現在の事前登録者数は、<br><span class="total_user_span"><%=Shop.count + Buyer.count + 10%></span><br>ユーザーです。</p>
      </div>
    </div>
  </div>
</div>

<<h2 class="ad_news_h2">le pontニュース</h2>

<div class="ad_news_list_div">
  <%if News.exists?%>
    <% @news.each do |n| %>
      <%= link_to news_path(n.id),class:"news_show_a" do %>
        <div class="ad_news_contents">
          <p class="ad_news_date"><%= n.created_at.strftime('%Y/%m/%d')%></p>
          <p class="ad_news_title"><%= n.title%></p>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>


<p class="ad_news_reco"><%= link_to "もっと見る" ,news_index_path,class:"home_li"%></p>

<h2 class="ad_news_h2">le pontブログ</h2>

<div class="ad_blogs_list_div">
  <%if Blog.exists?%>
    <% @blogs.each do |b| %>
      <%= link_to blog_path(b.id),class:"blogs_show_a" do %>
        <div class="ad_blogs_contents">
          <% if b.eyecathing.attached? %>
            <%= image_tag b.eyecathing , class: "eyecatch", alt: "アイキャッチ画像" %>
          <%else%>
            <%= image_tag 'img.jpeg' ,class: "buy_ms_img"  %>
          <%end%>
          <p class="ad_blogs_title"><%= b.title %></p>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>

<p class="ad_blogs_reco"><%= link_to "もっと見る" ,blogs_path,class:"home_li"%></p>

<div class="promo_div">
  <p class="promo_p">あなたのプロモーションコードはこちらです。<span class="promo_span"><br>l20zpo2o1ntfopx</span></p>
  <p class="promo_at">※こちらのコードは事前登録ユーザーを判別する為の重要なコードです。<br>リリース時の登録の際に必要になりますので大切に保管ください。</p>
</div>

<%= video_tag("inshoku.mp4" ,controls: true, muted: :true) %>