<p class="back_home_p"><%= link_to 'Home',root_path , class: "nav-list1"  %></p>
<h1 class="pr_h1">プライバシーポリシー</h1>

<p class="pr_p">le pontでは、お客様のプライバシーを最優先に考えております。当社は、お客様が不安を感じることなく、良縁と巡り合うこと、取引に集中していただけるよう、お客様のプライバシーを第一に考えて製品・サービスの設計・構築・運用に取り組んでおります。</p>
<p class="pr_p">当社は、お客様が当社を信頼して情報を提供してくださることに感謝するとともに、その信頼に応えられるよう常に努めてまいります。</p>

<h2 class="pr_h2">プライバシー保護への取り組み</h2>
<p class="pr_p">当社は、お客様のプライバシーを考慮して、全ての製品およびサービスを設計しております。法務、セキュリティ、エンジニアリング、製品設計など、さまざまな分野の専門家に参加してもらい、お客様のプライバシーを最大限に尊重した上で意思決定を行なっております。</p>

<h2 class="pr_h2">透明性への取り組み</h2>
<p class="pr_p">当社は、不十分な説明や難解な用語がプライバシーポリシーの理解を困難にすることから、可能な限りわかりやすい言葉でプライバシーポリシーおよび関連文書を作成するよう努めております。お客様に当社のポリシーをお読みいただき、当社のプライバシーに対する取り組みを理解していただきたいと考えております。</p>

<h2 class="pr_h2">セキュリティ保護への取り組み</h2>
<p class="pr_p">当社では、お客様の情報の安全性を高めるため、情報セキュリティに対して積極的に投資し、常に最新のセキュリティ対策を講じています。</p>

<p class="pr_p">le pontのプライバシーポリシーをお読みいただき、ありがとうございます。</p>

<p class="pr_p">当社は、お客様が当社を信頼してお客様の情報を提供してくださることに感謝し、その信頼に常に応えていきたいと考えております。そのためには、当社が収集する情報の種類、収集の目的、収集した情報の利用方法、収集した情報に関するお客様の選択肢について、お客様にご理解いただくことが重要であると考えております<br>本プライバシーポリシーでは、当社のプライバシー対策を、法律用語や専門用語をなるべく控え、わかりやすい言葉で説明しております。</p>

<p class="pr_p">発効日：2022年2月18日</p>

<ul class="pr_ul">
  <li>1.個人情報について</li>
  <li>2.個人情報の収集方法</li>
  <li>3.個人情報を収集・利用する目的</li>
  <li>4.利用目的の変更</li>
  <li>5.個人情報の第三者提供</li>
  <li>6.個人情報の開示</li>
  <li>7.個人情報の訂正および削除</li>
  <li>8.個人情報の利用停止等</li>
  <li>9.プライバシーポリシーの変更</li>
  <li>10.お問い合わせ窓口</li>
</ul>

<p class="pr_p">le pont(以下、「当社」といいます。)は、本ウェブサイト上で提供するサービス(以下、「本サービス」といいます。)における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー(以下、「本ポリシー」といいます。)を定めます。</p>

<h2 class="pr_h2_2">個人情報</h2>
  <p class="pr_p">「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報および容貌、指紋、声紋にかかるデータ、および健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報(個人識別情報)を指します。</p>

<h2 class="pr_h2_2">個人情報の収集方法</h2>
  <p class="pr_p">当社は、ユーザーが利用登録する際に、氏名、住所、電話番号、メールアドレス、パスワード、クレジットカード番号、銀行口座番号、運転免許証番号などの個人情報をお尋ねすることがあります。また、ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を、当社の提携先(情報提供元、広告主、広告配信先などを含みます。以下、「提携先」といいます。)などから収集することがあります。</p>

<h2 class="pr_h2_2">個人情報を収集・利用する目的</h2>
  <p class="pr_p">当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
    <p class="pr_p2">1.当社サービスの提供・運営のため</p>
    <p class="pr_p2">2.ユーザーからのお問い合わせに回答するため(本人確認を行うことを含む)</p>
    <p class="pr_p2">3.ユーザーが利用中のサービスの新機能、更新情報、キャンペーン等および当社が提供する他のサービスの案内のメールを送付するため</p>
    <p class="pr_p2">4.メンテナンス、重要なお知らせなど必要に応じたご連絡のため</p>
    <p class="pr_p2">5.利用規約に違反したユーザーや不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</p>
    <p class="pr_p2">6.ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行なっていただくため</p>
    <p class="pr_p2">7.有料サービスにおいて、ユーザーに利用料金を請求するため</p>
    <p class="pr_p2">8.上記の利用目的に付随する目的</p>


<h2 class="pr_h2_2">利用目的の変更</h2>
  <p class="pr_p2">1.当社は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</p>
  <p class="pr_p2">2.利用目的の変更を行った場合には、変更後の目的について、当社所定の方法により、ユーザーに通知し、または本WEBサイト上に公表するものとします。</p>

<h2 class="pr_h2_2">個人情報の第三者提供</h2>
  <p class="pr_p2">1.当社は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
    <p class="pr_p3">1.人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</p>
    <p class="pr_p3">2.公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</p>
    <p class="pr_p3">3.国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼす恐れがあるとき</p>
    <p class="pr_p3">4.あらかじめ次の事項を告知あるいは公表し、かつ当社が個人情報保護委員会に届け出をしたとき</p>
      <p class="pr_p4">1.利用目的に第三者への提供を含むこと</p>
      <p class="pr_p4">2.第三者に提供されるデータの項目</p>
      <p class="pr_p4">3.第三者への提供の手段または方法</p>
      <p class="pr_p4">4.本人の求めに応じて個人情報の第三者への提供を停止すること</p>
      <p class="pr_p4">5.本人の求めを受け付ける方法</p>
  <p class="pr_p2">2.前項の定めにかかわらず、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。</p>
    <p class="pr_p3">1.当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</p>
    <p class="pr_p3">2.合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
    <p class="pr_p3">3.個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いた場合</p>

<h2 class="pr_h2_2">個人情報の開示</h2>
  <p class="pr_p2">1.当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。なお、個人情報の開示に際しては、1件あたり1,000円の手数料を申し受けます。</p>
    <p class="pr_p3">1.本人または第三者の生命、身体、財産その他の権利利益を害する恐れがある場合</p>
    <p class="pr_p3">2.当社の業務に適正な実施に著しい支障を及ぼす恐れがある場合</p>
    <p class="pr_p3">3.その他法令に違反することとなる場合</p>
  <p class="pr_p2">2.前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。</p>

<h2 class="pr_h2_2">個人情報の訂正および削除</h2>
  <p class="pr_p2">1.ユーザーは、当社の保有する自己の個人情報が誤った情報である場合には、当社が定める手続きにより、当社に対して個人情報の訂正、追加または削除(以下、「訂正等」といいます。)を請求することができます。</p>
  <p class="pr_p2">2.当社は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正等を行うものとします。</p>
  <p class="pr_p2">3.当社は、前項の規定に基づき訂正等を行った場合、または訂正等を行わない旨の決定をしたときは遅滞なく、これをユーザーに通知します。</p>

<h2 class="pr_h2_2">個人情報の利用停止等</h2> 
  <p class="pr_p2">1.当社は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または削除(以下、「当社」といいます。「利用停止等」といいます。)を求められた場合には、遅滞なく必要な調査を行います。</p>
  <p class="pr_p2">2.前項の調査結果に基づき、その請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の利用停止等を行います。</p>
  <p class="pr_p2">3.当社は、前項の規定に基づき利用停止等を行った場合、または利用停止等を行わない旨の決定をしたときは、遅滞なく、これをユーザーに通知します。</p>
  <p class="pr_p2">4.前2項にかかわらず、利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ユーザーの権利利益を保護するために必要なこれに代わるべき措置を取れる場合は、この代替策を講じるものとします。</p>

<h2 class="pr_h2_2">プライバシーポリシーの変更</h2>
  <p class="pr_p2">1.本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</p>
  <p class="pr_p2">2.当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本WEBサイトに掲載した時から効力を生じるものとします。</p>

<h2 class="pr_h2_2">お問い合わせ窓口</h2>
  <p class="pr_p">住所：〒439-0019 静岡県菊川市半済1316</p>
  <p class="pr_p">社名：le pont</p>
  <p class="pr_p">担当部署：le pontサービス運営課</p>
  <p class="pr_p">Email：lepont.info@gmail.com</p>

<footer>
  <div class="home_footer">
    <div class="footer_div">
      <ul class="footer_ul">
        <li class="footer_li">マイページ</li>
        <li class="f_l"><%= link_to 'トップページ',root_path , class: "nav-list"  %></li>
        <li class="f_l"><%= link_to '新規会員登録(未登録の方)',sign_ups_path , class: "nav-list"  %></li>
        <li class="f_l"><%= link_to 'ログイン',sign_ins_path , class: "nav-list"  %></li>
      </ul>
    </div>
    <div class="footer_div">
      <ul class="footer_ul">
        <li class="footer_li">ヘルプ・ガイド</li>
        <li class="f_l"><%= link_to 'よくある質問',helps_path , class: "nav-list"  %></li>
        <li class="f_l"><%= link_to 'お問い合わせ',"https://form.run/@yaksoccer-1645364845" , class: "nav-list"  %></li>
      </ul>
    </div>
    <div class="footer_div">
      <ul class="footer_ul">
        <li class="footer_li">プライバシーと利用規約</li>
        <li class="f_l"><%= link_to 'プライバシーポリシー',privacies_path , class: "nav-list"  %></li>
        <li class="f_l"><%= link_to 'le pont利用規約',terms_path , class: "nav-list" %></li>
        <li class="f_l"><%= link_to '特定商取引法に基づく表示',laws_path , class: "nav-list" %></li>
      </ul>
    </div>
    <div class="footer_div">
      <ul class="footer_ul">
        <li class="footer_li">le pontについて</li>
        <li class="f_l"><%= link_to '会社概要(運営会社)',"https://lepont-inc.com/" , class: "nav-list"  %></li>
      </ul>
    </div>
  </div>
  <p class="footer_copy">Copyright&copy;le pont, Inc.</p>
</footer>