<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>le pont【飲食店と卸業者のマッチングサービス】</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="le pont,レストラン,飲食 卸業者,野菜,容器,冷凍食品,お酒,和食,洋食,ホテル,旅館,居酒屋,飲食 起業,飲食経営">
    <meta name="description" content="「飲食業界のマルチプラットフォーム」。マッチング、受発注、メッセージ、受発注履歴の確認が全て一貫してできるアプリ">
    <meta property="og:title" content="le pont【飲食店と卸業者のマッチングサービス】" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="「飲食業界のマルチプラットフォーム」。マッチング、受発注、メッセージ、受発注履歴の確認が全て一貫してできるアプリ" />
    <meta property="og:site_name" content="le pont【飲食店と卸業者のマッチングサービス】" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="le pont【飲食店と卸業者のマッチングサービス】">
    <meta name="twitter:description" content="「飲食業界のマルチプラットフォーム」。マッチング、受発注、メッセージ、受発注履歴の確認が全て一貫してできるアプリ">
    <meta name="twitter:image" content="">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= notice %>
    <%= alert %>
  </body>
</html>
